.game-controls {
  display: flex;
  justify-content: space-between; /* Spread out the two sections */
  align-items: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.3); /* Transparent black */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 560px; /* Max width of 600px */
}

.game-controls .control-section, .game-controls .player-section {
  display: flex;
  align-items: center;
}

.game-controls select {
  padding: 5px 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
}

.game-controls select:disabled {
  background-color: #e9e9e9;
  color: #a1a1a1;
}

.game-controls button {
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF; /* Blue background */
  color: white;
  cursor: pointer;
  margin-right: 10px;
  width: 100px;
  height: 30px;
}

.game-controls button:hover {
  background-color: #0069d9; /* Darker blue on hover */
}

.game-controls .player-section span {
  margin-left: 10px;
  font-weight: bold;
  color: white;
  font-size: 1.1em;
}

.player-section{
  color: white;
  font-size: 30px;
}


@media screen and (max-width: 800px) {
  .game-controls {
    padding: 10px;
    width: 380px; /* Max width of 600px */
  }
  
  
  .game-controls select {
    padding: 3px 6px;
    margin-right: 7px;
  }
  
  .game-controls button {
    padding: 3px 10px;
    border-radius: 3px;
    margin-right: 7px;
    width: 70px;
    height: 20px;
  }
  
  .game-controls .player-section span {
    margin-left: 7px;
  }
  
  .player-section{
    font-size: 15px;
  }
}

