.piece-counter {
    display: flex; /* Aligns items in a row */
    justify-content: center; /* Centers items horizontally */
    align-items: center; /* Centers items vertically */
    gap: 40px; /* Space between each item */
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px;
}

.piece {
    display: flex;
    align-items: center;
    gap: 10px;
}

.piece img {
    width: 40px; /* Adjust as needed */
    height: 40px; /* Adjust as needed */
    border-radius: 50%;
}

.piece span {
    font-size: 0.8em;
    font-weight: bold;
}
