/* styles.css */


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: grey;
}

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center; /* Align horizontal */
  align-items: center; 
}

.row {
  display: flex;
}


.game-board {
  display: flex;
  flex-direction: column-reverse;
  width: fit-content;
  position: relative;
  /* Set the width and height of your game board here */
  width: 600px;
  height: 600px;
  border: .5vmin solid #000;
  box-shadow: 0 0 10vmin #000;
}

.square {
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.dark-square {
  background-color: beige;
  box-shadow: inset 0 0 6vmin grey;
}

.light-square {
  background-color: #505050;
  box-shadow: inset 0 0 6vmin #000;
}


.piece {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  font-weight: bold;
  color: white;
  /* Default border styles */
  border: 2px solid transparent; /* Add a transparent border by default */
}

.with-border {
  border-color: lightgreen; /* Red border color for player 1 */
  box-shadow: 0 0 3vmin tan,0 0 1vmin #7cfc00;
}

@keyframes pulse-border {
  0%, 100% {
    border-width: 2px;
  }
  50% {
    border-width: 5px;
  }
}


.player1-piece {
  /*background-color: rgba(0, 0, 0, 0.75);*/
  background-image: url('../../public/player1.jpg');
  background-size: 110% 110%;
  background-position: center;
}

.player2-piece {
  /*background-color: brown;*/
  background-image: url('../../public/player2.jpg');
  background-size: 110% 110%;
  background-position: center;
}

.player1-piece.king {
  background-image: url('../../public/player1King.jpg');
}

.player2-piece.king {
  background-image: url('../../public/player2King.jpg');
}

.highlighted {
  animation: blink-background 1s infinite ease-in-out;
}

@keyframes blink-background {
  0%, 100% {
  }
  25%, 50%, 75% {
    background-color: lightgreen;

  }
}

.selected {
  animation: pulse-border 0.75s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@media screen and (max-width: 800px) {
  .game-board {
    width: 400px; /* Make the game board take up the full width */
    height: 400px; /* Adjust the height automatically */
  }

  .square {
    width: 50px; /* Each square takes up 10% of the game board width */
    height: 50px; /* Height is the same as width to maintain aspect ratio */
  }

  .piece {
    width: 80%; /* Pieces take up a smaller portion of the square */
    height: 80%;
    font-size: 14px; /* Smaller font size for pieces */
  }
}
